@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- word -->
<div class="row">
    <div class="span6 offset1">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/4Ha8_CrVCJ8?list=PLAAB62500B6A53AEA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span4">
        <h6>Microsoft Word 2007 &amp; 2010</h6>
        <p>See MS Word 2007 & 2010 in action. Learn formatting text, copy, cut, paste, bullets and numbering, change case, borders and shading, format painter.</p>
    </div>
</div>
<hr>
<!-- outlook -->
<div class="row">
    <div class="span6 offset1">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/twGOYb-yviI?list=PL6A608B1EE1F8E050" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span4">
        <h6>Microsoft Office Outlook 2007</h6>
        <p>Introduction to Microsoft Office Outlook 2007. In this video learn to setup Outlook to use with Gmail/Hotmail, send/receive emails. Learn about Outbox, Sent and other folders. Customize the view of Outlook. See part 2 for more about Calendar, Contacts, tasks, notes</p>
    </div>
</div>
<hr>
<!-- excel -->
<div class="row">
    <div class="span6 offset1">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/bGnCj91tIms?list=PLADCDB08A88A41200" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span4">
        <h6>Microsoft Excel 2007 &amp; 2010</h6>
        <p>In this video learn the basics of Microsoft Excel in Office 2010, which is similar to Office 2007 with a few differences. Learn to enter/edit cells, basic formulas, understand order of operations, functions, fill handle, page setup & printing.</p>
    </div>
</div>
<hr>
<!-- powerpoint -->
<div class="row">
    <div class="span6 offset1">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/erBxaRbDWUk?list=PL960E52A17427AAFB" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span4">
        <h6>Microsoft PowerPoint 2003</h6>
        <p>Learn all the important elements of PowerPoint in 2 videos (40 minutes). In this video learn to create a PowerPoint slides with various layout. Add pictures, clip art, charts to slides. Delete slides, change slide order, apply design & format background. Use the outlining toolbar to edit the lines on your slides. Use various view like Normal, slider sorter & slide show. Add notes to your slides to see during PowerPoint show or print it.</p>
    </div>
</div>
<hr>
<!-- MS Project 2010 -->
<div class="row">
    <div class="span6 offset1">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/cjFRDm4oMdY?list=PLcmYWY91gQNfBQ8cUdfNya8-VmL8OEN3Q" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span4">
        <h6>Microsoft Project 2010</h6>
        <p>Learn the basics of Microsoft Project 2010: Add Project Information like Start Date and Working Days/Time & Holiday Exceptions in Calendar. Add/Delete Tasks, Add Summary Task, Add Milestones, Add Recurring Tasks. Understand Task Types & Task Dependency. Also learn to add Lag or Lead time to a task.</p>
    </div>
</div>
<hr>
<!-- Wordpress -->
<div class="row">
    <div class="span6 offset1">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/cjFRDm4oMdY?list=PLcmYWY91gQNfBQ8cUdfNya8-VmL8OEN3Q" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span4">
        <h6>Creating Business Website using Wordpress</h6>
        <p>In this video learn about how to create a business or personal website using a Web Hosting company. Learn about Cpanel, creating email, sub-domain (for test sites) and installing WordPress. Also learn about permalinks</p>
    </div>
</div>
<hr>
<!-- Social Media & other -->
<div class="row">
    <div class="span6 offset1">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/B4urkknoZXA?list=PLcmYWY91gQNdHYFEm8mfwJXV0ylnpXCxW" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="span4">
        <h6>Interesting free/useful Programs	</h6>
        <p>In this video come to know about some free and useful programs. Programs that make DVD of pictures, make ringtones for cell phones, free/powerful photo editor, free Microsoft Office replacements, video players, e-book program, private browser for Internet, portable apps and more. Here is the link to a file with all the websites mentioned in this video: http://simpletek.ca/files/</p>
    </div>
</div>
<hr>
