@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="hero-unit">
        <h1>Welcome to our career classes!</h1>
        <p>We provide short videos/classes on how to get the dream job that you discovered from out database. And we are adding new classes everyday.</p>
    </div>

    <div class="span12">
        <div class="row">
            <div class="span4">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Career courses</li>
                        <li class="active"><a href="#">Class 0</a></li>
                        <li><a href="#">Class 1</a></li>
                        <li><a href="#">Class 2</a></li>
                        <li><a href="#">Class 3</a></li>
                        <li class="nav-header">Resume courses</li>
                        <li><a href="#">Class 4</a></li>
                        <li><a href="#">Class 5</a></li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="span4">
                <img data-src="holder.js/300x200" alt="" src="Content/img/people_table.jpg" />

                <h3>Resume Writing</h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
                <img data-src="holder.js/300x200" alt="" src="Content/img/smiley_face.jpg" />
                <h3>How to Interview</h3>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
        </div>
        <div class="row">
        <div class="span4 pull-right">
            <img data-src="holder.js/300x200" alt="" src="Content/img/man_blackboard.jpg" />
            <h3>More Videos</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        </div>
        <hr>
