@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span3 offset5">
        <a type="button" href="mailto:sujithpapali@yahoo.com" class="btn btn-primary btn-large btn-success" id="askQquestion"><i class="icon-envelope icon-white"></i>&nbsp;Ask Us a Question</a>
    </div>
</div>
<hr>
