@model BlueEconomics.Web.ViewModels.JobViewModel

@{
    ViewBag.Title = "ASCEND Project | Jobs";
}
<style>
    #jobsList li {
        list-style: none;
    }
</style>
@section scripts
{
    <script src="@Url.Content("~/Scripts/accounting.min.js")"></script>
    <script>
        function showOcuppationDetail(jobAnualIncome, jobHourlyWage, jobEntryRequirement, jobEntryEducation, jobDescription) {

            if (jobAnualIncome == null)
                jobAnualIncome = "0";

            if (jobHourlyWage == null)
                jobHourlyWage = "0";

            $('#anualIncome').empty().html(accounting.formatMoney(jobAnualIncome));
            $('#hourlyWage').empty().html(accounting.formatMoney(jobHourlyWage));
            $('#entryRequirement').empty().html(jobEntryRequirement);
            $('#entryEducation').empty().html(jobEntryEducation);
            $('#jobDescription').empty().html(jobDescription);
            $('#divJobDescription').show();
        }

        function buildOcupationItem(occupation) {
            var html = '<li style="cursor: pointer" ' +
                ' onclick="showOcuppationDetail(\'' + occupation.MedianPayAnnual + '\',\'' + occupation.MedianPayHourly + '\',' +
                ' \'' + occupation.WorkExperience + '\',\'' + occupation.EntryLevelEducation + '\',\'' + occupation.Description + '\');">';

            html += '<h5 >' + occupation.Name + '</h5>';

            if (occupation.WorkExperience == '' || occupation.WorkExperience == 'None')
                occupation.WorkExperience = 'No experience required';

            html += accounting.formatMoney(occupation.MedianPayHourly) + '/hour -' + occupation.WorkExperience;

            if (occupation.NumberOfJobs == 1400)
                html += '<span class="ugly"></span>';
            else {
                if (occupation.NumberOfJobs > 357255)
                    html += '<span class="good"></span>';
                else
                    html += '<span class="bad"></span>';
            }

            html += '</li>';

            return html;
        }

        $(function () {
            $('.industryItem').click(function () {
                var idIndustry = $(this).attr('data-industryId');
                $('#IdIndustry').val(idIndustry);
                $('.industryItem').not($(this)).removeClass('selected');
                $(this).addClass('selected');
                $('#divJobDescription').hide();

                filterOccupation();
            });
        });
    </script>

    <script>
        function buildEducationFilter() {
            var educations = "";

            if ($("#FilterByEducationNone").is(':checked') == true)
                educations += "None,";

            if ($("#FilterByEducationLessThaOneYear").is(':checked') == true)
                educations += "LessThan1Year,";

            if ($("#FilterByEducationOneToFiveYear").is(':checked') == true)
                educations += "1to5Years,";

            if ($("#FilterByEducationOther").is(':checked') == true)
                educations += "Other,";

            return educations;
        }

        function filterOccupation() {
            $('.industryItem').removeClass('selected');
            $('#divJobDescription').hide();

            var idIndustry = $('#IdIndustry').val();

            var searchTerm = $('#txtSearch').val();

            var educationFilter = buildEducationFilter();

            var sortType = "NumberOfJobs";

            if ($("#SortByScore").is(':checked') == true)
                sortType = "Score";

            $('#divJobDescription').hide();

            $.ajax({
                url: '@Url.Action("FilterOccupationBy")',
                data: { criteria: searchTerm, education: educationFilter, sortType: sortType, idIndustry: idIndustry },
                success: function (data) {
                    var jobList = $('#jobsList');
                    jobList.empty();
                    if (data.Status == 'OK') {
                        if (data.Occupations.length > 0) {
                            $(data.Occupations).each(function () {
                                jobList.append(buildOcupationItem(this));
                                $("li[data-industryid|='" + this.IndustryID + "']").addClass('selected');
                            });
                        } else {
                            jobList.append('Jobs not found, please try another search.');
                        }
                    } else {
                        jobList.append('Error getting jobs, please try again.');
                    }
                },
                error: function (a, b, c) {
                    alert('Error! ' + a);
                }
            });

        }

        function searchJob() {
            var searchTerm = $('#txtSearch').val();

            if ($.trim(searchTerm).length == 0) {
                alert('Invalid search term');
                return;
            }

            $('#IdIndustry').val("");

            filterOccupation();
        }

        $(function () {
            $('#btnSearch').click(function () {
                searchJob();
            });

            $('#txtSearch').keypress(function (key) {
                if (key.keyCode == 13)
                    searchJob();
            });
        });
    </script>

    <script>
        $(function () {
            $("#FilterByEducationNone,#FilterByEducationLessThaOneYear, #FilterByEducationOneToFiveYear, #FilterByEducationOther,#SortByWage,#SortByScore").click(function () {
                filterOccupation();
            });
        });
    </script>

    <style>
        body {
            padding-top: 10px;
            padding-bottom: 40px;
        }
    </style>
}

@Html.HiddenFor(m => m.IdIndustry)
<!-- end nav row -->
<div class="row">
    <!-- search bar -->
    <div class="span12">
        <div class="navbar-form form-search">
            <span>
                <input type="text" data-provide="typeahead" class="span4 input-medium search-query" id="txtSearch" placeholder="Search for jobs..."></span>
            <span>
                <button type="submit" class="btn btn-primary force-bottom" id="btnSearch"><i class="icon-search icon-white"></i>Search</button></span>
        </div>
    </div>
    <!-- end search bar -->
</div>
<!-- end first row -->
<div class="row">
    <div class="span4">
        <h4>Filters</h4>
        <div class="well industry">
            <div>
                <strong>Education</strong>
                <ul>
                <li><input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><span>Associate Degree (35)</span></li>
                <li><input type="checkbox" id="checkbox-1-2" class="regular-checkbox" /><span>On-the-job training (79)</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span4 no-gutter">
        <h4>Jobs</h4>
        <ul id="jobsList" class="well jobs"></ul>
    </div>
    <div id="divJobDescription" style="display: none" class="span4 no-gutter">
        <h4>Job Detail</h4>
        <div class="well detail">
            <h5>Annual Income</h5>
            <span id="anualIncome"></span>
            <h5>Hourly Wage</h5>
            <span id="hourlyWage"></span>
            <h5>Education</h5>
            <span id="entryEducation"></span>
            <h5>Entry Requirement</h5>
            <span id="entryRequirement"></span>
            <h5>Job Description</h5>
            <span id="jobDescription"></span>
            <h5>School and Training Institutions</h5>
            <ul>
                <li>School 1</li>
                <li>School 2</li>
                <li>Training Center 3</li>
            </ul>
        </div>
    </div>
</div>
<!-- end second row -->
<hr>
